<div class="sidebar-box">

    <h4>User Context</h4>

    <p>
        <strong>Account:</strong><br>
        {{ request.user.username }}
    </p>

    <p>
        <strong>Role:</strong><br>
        {% if request.user.is_superuser %}
            System Administrator
        {% elif request.user.is_staff %}
            Biobank Curator
        {% else %}
            Registered User
        {% endif %}
    </p>

    <p class="section-subtitle" style="margin-top:10px;">
        Your role defines which biobanks, collections and samples you are
        allowed to manage within the system.
    </p>

</div>
