# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django (Importante para manter a limpeza que fizemos)
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Ambientes Virtuais
biobank-env/
venv/
env/

# IDEs
.vscode/
.idea/

# Arquivos de Sistema e Temporários
.DS_Store
base.css
schema.png
environment.yml

# Logs e outros
*.log