Django>=4.2
biopython>=1.81
qrcode>=7.4
Pillow>=9.5
numpy>=1.24
pandas>=2.0
matplotlib>=3.7
openpyxl>=3.1
django-environ>=0.10.0
django-import-export>=3.0
django-import-export>=3.0
django-extensions>=3.2
djangorestframework>=3.14
markdown>=3.4
django-filter>=23.0
